body{
    font-family: 'Courier New', Courier, monospace;
    background-color: orangered;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', monospace,"Times New Roman";
}
h3{
    color: yellow;
}
img{
    height: 350px;
    width: auto;
}
.ingredients,.steps{
    color: pink;
}