body {
    margin: 0;
    background-color: #ff4500;
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  }
#heading{
    font-weight: 900;
}
.index{
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
}
.link{
  background-color: white;
  display: inline-block;
  margin-bottom: 25px;
}
#index{
  font-size: 40px;
  font-family: 'Croissant One', cursive, "Open Sans", "PT Sans";
  color: hsl(0, 0%, 10%);
  background: orangered;
  margin-left: -40px;
  padding-left: 20px;
  font-weight: bold;
}
